.capçalera{
    background-color: black;
    text-align: center;
    font-size: larger;
    color: white;
    margin-bottom: 5px;
}

.peu{
    display: flex;
    justify-content: space-around;
    height: 150px;
}

.mapejat{
    height: 40%;
}

.mapa{
    float: left;
    margin: 5px;
    height: 170px;
}

.contenidor{
    display: flex;
    justify-content: space-around;
    height: 30%;
}

.tarjeta{
    background-color: yellow;
    height: 300px;
    width: 200px;
    border-style: solid;
}

.titol{
    width: 100%;
    height: 20%;
    background-color: green;
}

.foto{
    width: 100%;
    height: 45%;
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.descripcio{
    width: 100%;
    height: 35%;
    background-color: orange;

}

.imatge{
    max-width: 100%;
    border: 1px solid black;
}