* {
  margin: 0;
  background-color: orange;
}

header,
footer {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  height: 2em;
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
}

.tauler {
  width: 80%;
  border: 1px solid #000000;
  position: absolute;
  top: 2em;
  left: 10%;
  display: flex;
  flex-direction: row;
}

.nom {
  text-align: center;
}

.fila {
  width: 100%;
  height: 10%;
  background-color: pink;
  /* display: flex;
  flex-direction: row; */
}

.casella {
  width: 50px; /*12%; */
  height: 50px; /*100%;*/
}

/* files dels jugadors*/
.nom:first-child {
  background-color: #000000;
  color: #ffffff;
}

.nom:last-child {
  background-color: #ffffff;
  color: #000000;
}

/* .fila:last-child > .nom:nth-child(1){
    background-color: #000000;
    color: #ffffff;
} */

/* files amb caselles del tauler */
/* .fila:nth-child(odd) > .casella:nth-child(odd){
    background-color: #ffffff;
} */

/* .fila:nth-child(odd) > .casella:nth-child(even){
    background-color: #000000;
} */
