:root {
  --fonsTitol: #000;
  --colorTitol: #fff;
  --fonsMenu: #deb887 ;
  --fonsPrincipal: #deb666;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

nav, main,aside{
  font-size: 2rem;
}

header,
footer {
  text-align: center;
  align-content: center;
  background: var(--fonsTitol);
  color: var(--colorTitol);
  font-size: 3rem;
}

header {
  grid-area: cap;
}

footer {
  grid-area: peu;
}

nav {
  grid-area: llista;
  background: var(--fonsMenu);
}
.menu{
  position: sticky;
  top: 3rem;
}

.menu::before{
  content: "MENU";
  font-weight: bolder;
}

aside {
  grid-area: banner;
  background: yellow;
}

main {
  grid-area: contingut;
  background: var(--fonsPrincipal)
}

ul {
  text-align: center;
}

figure {
  margin: 4px;
}

figcaption {
  text-align: center;
}

.banner,
.principal {
  max-width: 100%;
}

article:nth-child(even) > figure {
  float: left;
}

article:nth-child(odd) > figure {
  float: right;
}

article > figure {
  width: 20%;
  margin: 10px;
}

.contenidor {
  display: grid;
  grid-template-columns: 15% auto 15%;
  grid-template-rows: 4rem auto 4rem;
  grid-template-areas:
  "cap cap cap"
  "llista contingut banner"
  "peu peu peu";
}

section{
  border: 1px solid #000;
  padding: 20px;
  min-height: 1vw;
}

fieldset{
  height: 50rem;
}

.imatge{
  float: left;
}



/* per mòbil */

@media (max-width:375px){
    main{
        background: brown;
    }
    
    .contenidor{
        display: block;
    }
}
