/* GRID GENERAL DE LA PÀGINA */
.contenidor {
  display: grid;
  grid-template-rows: 100px 1fr 70px;
  min-height: 100vh;
}

/* MAIN */
main {
  background-color: #f8f9fa;
  padding: 20px;
}

/* CALCULADORA */
.calculadora {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  width: 320px;
  height: 600px;
}

/* PANTALLA */
.pantalla {
  height: 70px;
  font-size: 2rem;
  text-align: right;
}

/* GRID DE BOTONS */
.tecles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
}

/* BOTONS */
.tecles button {
  height: 60px;
  font-size: 1.3rem;
}

/* BOTÓ 0 OCUPA DUES COLUMNES */
.zero {
  grid-column: span 2;
}
