* {
  margin: 0;
}

html {
  font-size: 2rem;
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: 3rem auto 3rem;
  height: 100vh;
  grid-template-areas:
    "cap cap cap"
    "nav prin prin"
    "peu peu peu";
}

header,
footer {
  background: #000;
  color: #fff;
  text-align: center;
}

header {
  grid-area: cap;
}

nav {
  grid-area: nav;
  background: burlywood;
  padding: 5px;
}

main {
  grid-area: prin;
}

footer {
  grid-area: peu;
}

table{
  font-size: 0.5em;
}

.titol{
  background: rgba(128, 128, 128, 0.328);
}

.enunciat{
  background: rgba(128, 128, 128, 0.128);
}

.missatgeOK{
  color:#008000;
}

.missatgeNOK{
  color: #ff0000;
}