:root {
    --fons: #fff;
    --text-principal: #000;
    --text-secundari: gray;
    --color-primari: blue;
    --boto-primari: blue;
    --capcalera-fons:#000;
    --capcalera-text:#fff;
}

* {
  margin: 0;
}

html {
  font-size: 2rem;
  scroll-behavior: smooth;
}

body {
  background: var(--fons);
  color: var(--text-principal);
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: 3rem auto 3rem;
  height: 100vh;
  grid-template-areas:
    "mod cap cap"
    "nav prin prin"
    "peu peu peu";
}

header,
footer {
  background: var(--capcalera-fons);
  color: var(--capcalera-text);
  text-align: center;
}

header {
  grid-area: cap;
}

.btnMode{
  grid-area: mod;
}

nav {
  grid-area: nav;
  background: var(--fons-menu);
  padding: 5px;
}

main {
  grid-area: prin;
}

footer {
  grid-area: peu;
}

button{
  background: var(--boto-primari);
  color: #fff;
}