* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-fons: #283583;
  --color-lletra: #fff;
}

html {
  font-size: 100%;
}

.enfosquir {
  background: #000;
}

dialog::backdrop {
  /* background: rgba(0, 0, 0, 0.80); */
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
}

.menu {
  background: burlywood;
}

body {
  display: grid;
  grid-template-areas:
    "cap cap cap"
    "nav contingut anun"
    "peu peu peu";
  grid-template-columns: 15% auto 10%;
  grid-template-rows: 3rem auto 3rem;
  min-height: 100vh;
}

header,
footer {
  background: var(--color-fons);
  color: var(--color-lletra);
  font-size: 3rem;
  text-align: center;
}

header {
  grid-area: cap;
}

nav {
  grid-area: nav;
}

main {
  grid-area: contingut;
}

footer {
  grid-area: peu;
  bottom: 0%;
  position: fixed;
  width: 100%;
}

aside {
  grid-area: anun;
  background: yellow;
}

dialog {
  /* left: 40%;
    top:40%;
    width: 20%;
    height: 20%; 
    */
  margin: auto;
  animation-name: aparicio;
  animation-duration: 8s;
}

@keyframes aparicio {
  from {
    opacity:0;
    bottom: -700px;
}
to {
    opacity: 1;
  }
}
