*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

header,footer{
    background: #000;
    color: #fff;
    text-align: center;
}

/* prova*/
.btn-stretch:hover{
    transform:stretch();
}

.btn-peel:hover{
    clip-path:peel(x);
}

.btn-frost:hover{
    filter:frost();
}

.btn-sand:hover{
    animation:pour();
}

.btn-gravity:hover{
    gravity:cursor;
}

.btn-primary:hover{
    transform:bulge(z);
}